<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            color: #333;
        }

        .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 90vh;
            padding: 20px;
        }

        .form-container {
            width: 90%;
            max-width: 1210px;
            margin: 30px auto; /* Increased margin to create better spacing between cards */
            background: white;
            border: 1px solid #ddd;
            border-radius: 8px; /* Slightly increased border-radius for a more modern look */
            overflow: hidden;
            transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effects */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .form-container h1 {
            text-align: center;
            color: #444;
            font-size: 1.8em;
            margin-bottom: 20px;
        }

        .form-container form {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .form-container label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #555;
        }

        .form-container input[type="text"]{
            padding: 10px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1em;
        }
       
        .form-container input[type="number"]{
            padding: 10px;
            width: 15%;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1em;
        }

        .form-container input[type="datetime-local"]{
            padding: 10px;
            width: 40%;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1em;
        }
    
        .form-container select {
            padding: 10px;
            width: 30%;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1em;
        }
        .form-container input[type="tel"] {
            padding: 10px;
            width: 25%;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1em;
        }
        .form-container input[type="email"] {
            padding: 10px;
            width: 35%;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1em;
        }

        .form-container input[type="radio"] {
            padding: 10px;
            width: 5%;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1em;
        }
        /* Buttons for Forms */
        .form-button {
            background-color: #008080;
            color: white;
            padding: 0.7rem 1.5rem;
            text-decoration: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            display: block;
            width: 100%;
        }
        .form-btn:hover {
            background-color: #005F5F;
        }

        /*css fro cards on admin events page*/
        .bigcard {
            width: 90%;
            max-width: 1250px;
            margin: 30px auto; /* Increased margin to create better spacing between cards */
            background: white;
            border: 1px solid #ddd;
            border-radius: 8px; /* Slightly increased border-radius for a more modern look */
            overflow: hidden;
            transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effects */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            
        }

        .card-header {
            padding: 20px; /* Increased padding for more spacious header */
            background: #008080; /* Updated background color to match the theme (teal) */
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: background-color 0.3s ease; /* Smooth transition for hover effect */
            font-size: 2rem; /* Larger font size */
        }

        .form-container button[type="submit"]:hover {
            background-color: #008080;
        }

        .success-message,
        .error-message {
            text-align: center;
            font-size: 1em;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        .success-message {
            color: #155724;
            background-color: #d4edda;
            border: 1px solid #c3e6cb;
        }

        .error-message {
            color: #721c24;
            background-color: #f8d7da;
            border: 1px solid #f5c6cb;
        }

        .records-container {
            width: 100%;
            max-width: 1000px;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .search-container {
            margin-bottom: 20px;
            text-align: right;
        }

        .search-container input[type="text"] {
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1em;
            width: 200px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <!-- Nav Bar -->
    <%- include(user && user.is_admin ? "partials/adminnavbar" : (user ? "partials/volunteernavbar" : "partials/navbar")) %>
    <div class="main-content">

    <!-- Form to Add Vest Receiver -->
    <div class="bigcard">
        <div class="card-header">Add New Event</div>
        <div class="card-content">
    
        <div class="form-container">
            <h1>Add New Event</h1>
            <!-- Event Request Form -->
            <form action="/eventrequestadmin" method="POST">

                <div>  
                    <label for="organization">Organization/Group Name:</label>
                    <input type="text" id="organization" name="organization"  style="width: 100%" placeholder="Group Name" required>
                </div>

                <div> 
                    <label>Organizer Name:</label>
                    <input type="text" id="orgfirstname" name="orgfirstname" placeholder="First Name" style="width: 49%" required>
                    <input type="text" id="orglastname" name="orglastname" placeholder="Last Name" style="width: 49%" required>
                </div>

                <div> 
                    <label>Organizer Contact Info:</label>
                    <input type="email" id="orgemail" name="orgemail" placeholder="Email" style="width: 60%" required>
                    <input type="tel" id="orgphone" name="orgphone" placeholder="Phone" style="width: 37%" maxlength="14" placeholder="(123) 456-7890" required>
                </div>

                <div> 
                    <label>Event Duration:</label>
                    <input type="datetime-local" id="eventstarttime" name="eventstarttime" required> to 
                    <input type="datetime-local" id="eventstoptime" name="eventstoptime" required>
                </div>

                <div> 
                    <label>Location of Event:</label>
                    <input type="text" id="eventaddress" name="eventaddress" placeholder="Street Address" style="width: 40%" required>
                    <input type="text" id="eventcity" name="eventcity" placeholder="City" style="width: 40%" required>
                    <select id="statecode" name="statecode" style="width: 16%" required>
                        <option value="" disabled selected>State</option>
                        <option value="1">Alabama</option>
                        <option value="2">Alaska</option>
                        <option value="3">Arizona</option>
                        <option value="4">Arkansas</option>
                        <option value="5">California</option>
                        <option value="6">Colorado</option>
                        <option value="7">Connecticut</option>
                        <option value="8">Delaware</option>
                        <option value="9">Florida</option>
                        <option value="10">Georgia</option>
                        <option value="11">Hawaii</option>
                        <option value="12">Idaho</option>
                        <option value="13">Illinois</option>
                        <option value="14">Indiana</option>
                        <option value="15">Iowa</option>
                        <option value="16">Kansas</option>
                        <option value="17">Kentucky</option>
                        <option value="18">Louisiana</option>
                        <option value="19">Maine</option>
                        <option value="20">Maryland</option>
                        <option value="21">Massachusetts</option>
                        <option value="22">Michigan</option>
                        <option value="23">Minnesota</option>
                        <option value="24">Mississippi</option>
                        <option value="25">Missouri</option>
                        <option value="26">Montana</option>
                        <option value="27">Nebraska</option>
                        <option value="28">Nevada</option>
                        <option value="29">New Hampshire</option>
                        <option value="30">New Jersey</option>
                        <option value="31">New Mexico</option>
                        <option value="32">New York</option>
                        <option value="33">North Carolina</option>
                        <option value="34">North Dakota</option>
                        <option value="35">Ohio</option>
                        <option value="36">Oklahoma</option>
                        <option value="37">Oregon</option>
                        <option value="38">Pennsylvania</option>
                        <option value="39">Rhode Island</option>
                        <option value="40">South Carolina</option>
                        <option value="41">South Dakota</option>
                        <option value="42">Tennessee</option>
                        <option value="43">Texas</option>
                        <option value="44">Utah</option>
                        <option value="45">Vermont</option>
                        <option value="46">Virginia</option>
                        <option value="47">Washington</option>
                        <option value="48">West Virginia</option>
                        <option value="49">Wisconsin</option>
                        <option value="50">Wyoming</option>
                    </select>
                </div>

                <div> 
                    <label for="discoveredcode">How did they learn about us?</label>
                    <select id="discoveredcode" name="discoveredcode" style="width: 100%"required>
                        <option value="" disabled selected>-- Select --</option>
                        <option value="7">Other</option>
                        <option value="1">Our Facebook</option>
                        <option value="2">Podcasts</option>
                        <option value="3">Events</option>
                        <option value="4">Word of Mouth</option>
                        <option value="5">Our Website</option>
                        <option value="6">Other Social Media</option>
                    </select>
                </div>

                <div> 
                    <label for="expectedparticipants">Expected Participants:</label>
                    <input type="number" id="expectedparticipants" name="expectedparticipants" min="1" style="width: 100%" placeholder= 0 required>
                </div>

                <div> 
                    <label for="servicetypecode">Type of Service:</label>
                    <select id="servicetypecode" name="servicetypecode"  style="width: 100%" onchange="toggleSewingQuestions(this.value)" required>
                        <option value=""disabled selected>-- Select --</option>
                        <option value="1">Sewing</option>
                        <option value="2">Non-Sewing</option>
                        <option value="3">Both</option>
                    </select>
                </div>
                <div> 
                    <label for="Status">Event Status:</label>
                    <select name="status" style="width: 100%">
                        <option value="pending">Pending</option>
                        <option value="approved">Approved</option>
                        <option value="declined">Declined</option>
                        <option value="completed">Completed</option>
                    </select>
                </div>
                <!-- Sewing Questions after drop down -->
                <div class="sewing-questions" style="flex-direction: column; gap: 5px;">
                    <div>
                        <label>Participant Skills and Machines</label>
                        <input type="number" id="basicskills" name="basicskills" placeholder="Basic" style="width: 15%" min="0">
                        <input type="number" id="advanced" name="advanced" placeholder="Advanced" style="width: 15%" min="0">
                        <input type="number" id="sewingmachines" name="sewingmachines" placeholder="Sewing" style="width: 15%" min="0">
                        <input type="number" id="sergers" name="sergers" placeholder="Sergers" style="width: 15%" min="0">
                    </div>
                </div>
                <div> 
                    <label>Have they offered to support the material costs of the event?</label>
                    <label>
                    <input type="radio" name="payfor" value="true"> Yes
                    </label>
                    <label>
                    <input type="radio" name="payfor" value="false"> No
                    </label>
                </div>

                <div> 
                    <label>Is Jen sharing her story?</label>
                    <label>
                    <input type="radio" name="storyshared" value="true"> Yes
                    </label>
                    <label>
                    <input type="radio" name="storyshared" value="false"> No
                    </label>
                </div>

                <div> 
                    <label>Do they want to recieve newsletters?</label>
                    <label>
                    <input type="radio" name="newsletter" value="true"> Yes
                    </label>
                    <label>
                    <input type="radio" name="newsletter" value="false"> No
                    </label>
                </div>

                <div> 
                    <label for="comments">Extra comments:</label>
                    <textarea id="comments" name="comments" placeholder="Enter comments here" rows="2" style="resize: both; width: 400px; font-family: Arial, sans-serif "></textarea>
                </div>

                <button type="submit" class="form-button">Create Event</button>
            </form>
        </div> 
        </div>

        </div>



        <!--pending-->
        <div class="bigcard">
            <div class="card-header">Pending Events</div>
            <div class="card-content">
                <div class="container">
                    <% if (error) { %>
                        <div class="error-message"><%= error %></div>
                    <% } %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Organization</th>
                                <th>Event Date(s)</th>
                                <th>Event Times</th>
                                <th>Event Address</th>
                                <th>Contact Name</th>
                                <th>Contact Email</th>
                                <th>Contact Phone</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% events.forEach(event => { %>
                                <% if (event.status == 'pending') { %>
                                    <tr>
                                        <td><%= event.organization %></td>
                                        <td><%= new Date(event.eventstarttime).toLocaleDateString() %>    <% if (new Date(event.eventstarttime).toLocaleDateString() !== new Date(event.eventstoptime).toLocaleDateString()) { %>
                                            - <%= new Date(event.eventstoptime).toLocaleDateString() %>
                                        <% } %></td>
                                        <td>
                                            <%= new Date(event.eventstarttime).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }).replace(/([APM]{2})$/, '') %>-
                                            <%= new Date(event.eventstoptime).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }) %>
                                        </td>
                                        <td><%= event.eventaddress %>, <%= event.eventcity %>, <%= event.state_description %></td>
                                        <td><%= event.orgfirstname %> <%= event.orglastname %></td>
                                        <td><%= event.orgemail %></td>
                                        <td><%= event.orgphone %></td>
                                        <td>
                                            <!-- Approve Button -->
                                            <form action="/update-event-status/<%= event.eventcode %>" method="POST" style="display:inline;">
                                                <input type="hidden" name="status" value="approved">
                                                <button type="submit" class="form-button" style="background-color: #006813 ">Approve</button>
                                            </form>
                                            <!-- Decline Button -->
                                            <form action="/update-event-status/<%= event.eventcode %>" method="POST" style="display:inline;">
                                                <input type="hidden" name="status" value="declined">
                                                <button type="submit" class="form-button" style="background-color: #a30202 ">Decline</button>
                                            </form>
                                        </td>
                                        <td>
                                            <button class="form-button" onclick="toggleEditForm('<%= event.eventcode %>')">View/Edit</button>
                                        </td>
                                    </tr>
                                    <!-- Include the edit event form partial -->
                                    <%- include('partials/eventedit', { event: event }) %>
                                <% } %>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--approved events-->
        <div class="bigcard">
            <div class="card-header">Approved Events</div>
            <div class="card-content">
                <div class="container">
                    <% if (error) { %>
                        <div class="error-message"><%= error %></div>
                    <% } %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Organization</th>
                                <th>Event Date(s)</th>
                                <th>Event Times</th>
                                <th>Event Address</th>
                                <th>Contact Name</th>
                                <th>Contact Email</th>
                                <th>Contact Phone</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% events.forEach(event => { %>
                                <% if (event.status == 'approved') { %>
                                    <tr>
                                        <td><%= event.organization %></td>
                                        <td><%= new Date(event.eventstarttime).toLocaleDateString() %>    <% if (new Date(event.eventstarttime).toLocaleDateString() !== new Date(event.eventstoptime).toLocaleDateString()) { %>
                                            - <%= new Date(event.eventstoptime).toLocaleDateString() %>
                                        <% } %></td>
                                        <td>
                                            <%= new Date(event.eventstarttime).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }).replace(/([APM]{2})$/, '') %>-
                                            <%= new Date(event.eventstoptime).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }) %>
                                        </td>
                                        <td><%= event.eventaddress %>, <%= event.eventcity %>, <%= event.state_description %></td>
                                        <td><%= event.orgfirstname %> <%= event.orglastname %></td>
                                        <td><%= event.orgemail %></td>
                                        <td><%= event.orgphone %></td>
                                        <td>
                                            <form action="/update-event-status/<%= event.eventcode%>" method="POST">
                                                <select name="status" onchange="this.form.submit()">
                                                    <option value="pending" <%= event.status === 'pending' ? 'selected' : '' %>>Pending</option>
                                                    <option value="approved" <%= event.status === 'approved' ? 'selected' : '' %>>Approved</option>
                                                    <option value="declined" <%= event.status === 'declined' ? 'selected' : '' %>>Declined</option>
                                                    <option value="completed" <%= event.status === 'completed' ? 'selected' : '' %>>Completed</option>
                                                </select>
                                            </form>
                                        </td>
                                        <td>
                                            <button class="form-button" onclick="toggleEditForm('<%= event.eventcode %>')">View/Edit</button>
                                            <button class="form-button" onclick="toggleCompleteForm('<%= event.eventcode %>')">Complete</button>
                                        </td>
                                    </tr>

                                    <!-- Include the edit event form partial -->
                                    <%- include('partials/eventedit', { event: event }) %>

                                    <tr id="complete-form-<%= event.eventcode %>" style="display:none;" class="form-container">
                                        <td colspan="7">
                                            <form action="/complete-event/<%= event.eventcode %>" method="POST" class="edit-event-form">
                                                <label>Actual number of participants:</label>
                                                <input type="number" name="actualparticipation" value="<%= event.actualparticipation %>" placeholder="0">
                                                <p>Vests:
                                                    <label>Cut:</label>
                                                    <input type="number" name="vestcut" value="<%= event.vestcut %>" placeholder="0">
                                                    <label>Pinned:</label>
                                                    <input type="number" name="vestpin" value="<%= event.vestpin %>" placeholder="0">
                                                    <label>Sewn:</label>
                                                    <input type="number" name="vestsewn" value="<%= event.vestsewn %>" placeholder="0">
                                                <p>Collars:</p>
                                                    <label>Cut:</label>
                                                    <input type="number" name="collarcut" value="<%= event.collarcut %>" placeholder="0">
                                                    <label>Pinned:</label>
                                                    <input type="number" name="collarpin" value="<%= event.collarpin %>" placeholder="0">
                                                    <label>Sewn:</label>
                                                    <input type="number" name="collarsewn" value="<%= event.collarsewn %>" placeholder="0">
                                                <p>Envelopes:</p>
                                                    <label>Cut:</label>
                                                    <input type="number" name="envelopecut" value="<%= event.envelopecut %>" placeholder="0">
                                                    <label>Pinned:</label>
                                                    <input type="number" name="envelopepin" value="<%= event.envelopepin %>" placeholder="0">
                                                    <label>Sewn:</label>
                                                    <input type="number" name="envelopesewn" value="<%= event.envelopesewn %>" placeholder="0">
                                                <p>Pockets:</p>
                                                    <label>Cut:</label>
                                                    <input type="number" name="pocketcut" value="<%= event.pocketcut %>" placeholder="0">
                                                    <label>Pinned:</label>
                                                    <input type="number" name="pocketpin" value="<%= event.pocketpin %>" placeholder="0">
                                                    <label>Sewn:</label>
                                                    <input type="number" name="pocketssewn" value="<%= event.pocketssewn %>" placeholder="0">
                                                <p>Completed Vests:</p>
                                                    <label>X-Small:</label>
                                                    <input type="number" name="xscompleted" value="<%= event.xscompleted %>" placeholder="0">
                                                    <label>Small:</label>
                                                    <input type="number" name="scompleted" value="<%= event.scompleted %>" placeholder="0">
                                                    <label>Medium:</label>
                                                    <input type="number" name="mcompleted" value="<%= event.mcompleted %>" placeholder="0">
                                                    <label>Large:</label>
                                                    <input type="number" name="lcompleted" value="<%= event.lcompleted %>" placeholder="0">
                                                    <label>X-Large:</label>
                                                    <input type="number" name="xlcompleted" value="<%= event.xlcompleted %>" placeholder="0">
                                                    <label>XX-Large:</label>
                                                    <input type="number" name="xxlcompleted" value="<%= event.xxlcompleted %>" placeholder="0">
                                                    <label>XXX-Large:</label>
                                                    <input type="number" name="xxxlcompleted" value="<%= event.xxxlcompleted  %>" placeholder="0">
                                                    <label>XXX-Large:</label>
                                                    <input type="number" name="xxxxlcompleted" value="<%= event.xxxxlcompleted %>" placeholder="0">
                                                <button type="submit" class="form-button">Save Changes</button>
                                            </form>
                                        </td>
                                    </tr>

                                <% } %>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--completed events-->
        <div class="bigcard">
            <div class="card-header">Completed Events</div>
            <div class="card-content">
                <div class="container">
                    <h1>Completed Events</h1>
                    <% if (error) { %>
                        <div class="error-message"><%= error %></div>
                    <% } %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Organization</th>
                                <th>Event Date(s)</th>
                                <th>Event Times</th>
                                <th>Event Address</th>
                                <th>Contact Name</th>
                                <th>Contact Email</th>
                                <th>Contact Phone</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% events.forEach(event => { %>
                                <% if (event.status == 'completed') { %> <!-- Hide events that are marked as completed -->
                                    <tr>
                                        <td><%= event.organization %></td>
                                        <td><%= new Date(event.eventstarttime).toLocaleDateString() %>    <% if (new Date(event.eventstarttime).toLocaleDateString() !== new Date(event.eventstoptime).toLocaleDateString()) { %>
                                            - <%= new Date(event.eventstoptime).toLocaleDateString() %>
                                        <% } %></td>
                                        <td>
                                            <%= new Date(event.eventstarttime).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }).replace(/([APM]{2})$/, '') %>-
                                            <%= new Date(event.eventstoptime).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }) %>
                                        </td>
                                        <td><%= event.eventaddress %>, <%= event.eventcity %>, <%= event.state_description %></td>
                                        <td><%= event.orgfirstname %> <%= event.orglastname %></td>
                                        <td><%= event.orgemail %></td>
                                        <td><%= event.orgphone %></td>
                                        <td>
                                            <form action="/update-event-status/<%= event.eventcode%>" method="POST">
                                                <select name="status" onchange="this.form.submit()">
                                                    <option value="pending" <%= event.status === 'pending' ? 'selected' : '' %>>Pending</option>
                                                    <option value="approved" <%= event.status === 'approved' ? 'selected' : '' %>>Approved</option>
                                                    <option value="declined" <%= event.status === 'declined' ? 'selected' : '' %>>Declined</option>
                                                    <option value="completed" <%= event.status === 'completed' ? 'selected' : '' %>>Completed</option>
                                                </select>
                                            </form>
                                        </td>
                                        <td>
                                            <button class="form-button" onclick="toggleEditForm('<%= event.eventcode %>')">View/Edit</button>
                                        </td>
                                    </tr>
                                    <tr id="complete-form-<%= event.eventcode %>" style="display:none;">
                                        <td colspan="7">
                                            <form action="/complete-event/<%= event.eventcode %>" method="POST" class="edit-event-form">
                                                <label>Actual number of participants:</label>
                                                <input type="number" name="actualparticipation" value="<%= event.actualparticipation %>" placeholder="0">
                                                <p>Vests:
                                                    <label>Cut:</label>
                                                    <input type="number" name="vestcut" value="<%= event.vestcut %>" placeholder="0">
                                                    <label>Pinned:</label>
                                                    <input type="number" name="vestpin" value="<%= event.vestpin %>" placeholder="0">
                                                    <label>Sewn:</label>
                                                    <input type="number" name="vestsewn" value="<%= event.vestsewn %>" placeholder="0">
                                                <p>Collars:</p>
                                                    <label>Cut:</label>
                                                    <input type="number" name="collarcut" value="<%= event.collarcut %>" placeholder="0">
                                                    <label>Pinned:</label>
                                                    <input type="number" name="collarpin" value="<%= event.collarpin %>" placeholder="0">
                                                    <label>Sewn:</label>
                                                    <input type="number" name="collarsewn" value="<%= event.collarsewn %>" placeholder="0">
                                                <p>Envelopes:</p>
                                                    <label>Cut:</label>
                                                    <input type="number" name="envelopecut" value="<%= event.envelopecut %>" placeholder="0">
                                                    <label>Pinned:</label>
                                                    <input type="number" name="envelopepin" value="<%= event.envelopepin %>" placeholder="0">
                                                    <label>Sewn:</label>
                                                    <input type="number" name="envelopesewn" value="<%= event.envelopesewn %>" placeholder="0">
                                                <p>Pockets:</p>
                                                    <label>Cut:</label>
                                                    <input type="number" name="pocketcut" value="<%= event.pocketcut %>" placeholder="0">
                                                    <label>Pinned:</label>
                                                    <input type="number" name="pocketpin" value="<%= event.pocketpin %>" placeholder="0">
                                                    <label>Sewn:</label>
                                                    <input type="number" name="pocketssewn" value="<%= event.pocketssewn %>" placeholder="0">
                                                <p>Completed Vests:</p>
                                                    <label>X-Small:</label>
                                                    <input type="number" name="xscompleted" value="<%= event.xscompleted %>" placeholder="0">
                                                    <label>Small:</label>
                                                    <input type="number" name="scompleted" value="<%= event.scompleted %>" placeholder="0">
                                                    <label>Medium:</label>
                                                    <input type="number" name="mcompleted" value="<%= event.mcompleted %>" placeholder="0">
                                                    <label>Large:</label>
                                                    <input type="number" name="lcompleted" value="<%= event.lcompleted %>" placeholder="0">
                                                    <label>X-Large:</label>
                                                    <input type="number" name="xlcompleted" value="<%= event.xlcompleted %>" placeholder="0">
                                                    <label>XX-Large:</label>
                                                    <input type="number" name="xxlcompleted" value="<%= event.xxlcompleted %>" placeholder="0">
                                                    <label>XXX-Large:</label>
                                                    <input type="number" name="xxxlcompleted" value="<%= event.xxxlcompleted  %>" placeholder="0">
                                                    <label>XXX-Large:</label>
                                                    <input type="number" name="xxxxlcompleted" value="<%= event.xxxxlcompleted %>" placeholder="0">
                                                <button type="submit">Save Changes</button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--declined events-->
        <div class="bigcard">
            <div class="card-header">Declined Events</div>
            <div class="card-content">
                <div class="container">
                    <h1>Declined Events</h1>
                    <% if (error) { %>
                        <div class="error-message"><%= error %></div>
                    <% } %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Organization</th>
                                <th>Event Date(s)</th>
                                <th>Event Times</th>
                                <th>Event Address</th>
                                <th>Contact Name</th>
                                <th>Contact Email</th>
                                <th>Contact Phone</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% events.forEach(event => { %>
                                <% if (event.status == 'declined') { %> <!-- Hide events that are marked as completed -->
                                    <tr>
                                        <td><%= event.organization %></td>
                                        <td><%= new Date(event.eventstarttime).toLocaleDateString() %>    <% if (new Date(event.eventstarttime).toLocaleDateString() !== new Date(event.eventstoptime).toLocaleDateString()) { %>
                                            - <%= new Date(event.eventstoptime).toLocaleDateString() %>
                                        <% } %></td>
                                        <td>
                                            <%= new Date(event.eventstarttime).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }).replace(/([APM]{2})$/, '') %>-
                                            <%= new Date(event.eventstoptime).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }) %>
                                        </td>
                                        <td><%= event.eventaddress %>, <%= event.eventcity %>, <%= event.state_description %></td>
                                        <td><%= event.orgfirstname %> <%= event.orglastname %></td>
                                        <td><%= event.orgemail %></td>
                                        <td><%= event.orgphone %></td>
                                        <td>
                                            <form action="/update-event-status/<%= event.eventcode%>" method="POST">
                                                <select name="status" onchange="this.form.submit()">
                                                    <option value="pending" <%= event.status === 'pending' ? 'selected' : '' %>>Pending</option>
                                                    <option value="approved" <%= event.status === 'approved' ? 'selected' : '' %>>Approved</option>
                                                    <option value="declined" <%= event.status === 'declined' ? 'selected' : '' %>>Declined</option>
                                                    <option value="completed" <%= event.status === 'completed' ? 'selected' : '' %>>Completed</option>
                                                </select>
                                            </form>
                                        </td>
                                        <td>
                                            <button class="form-button" onclick="toggleEditForm('<%= event.eventcode %>')">View/Edit</button>
                                            <form action="/delete-event/<%= event.eventcode %>" method="POST" style="display:inline;">
                                                <button type="submit" class="form-button" style="background-color: #a30202 " onclick="return confirm('Are you sure you want to delete this record?');">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <!-- Include the edit event form partial -->
                                    <%- include('partials/eventedit', { event: event }) %>
                                <% } %>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <%- include("partials/footer") %>
    <script>
        function toggleEditForm(eventCode) {
            const formRow = document.getElementById(`edit-form-${eventCode}`);
            formRow.style.display = formRow.style.display === 'none' ? '' : 'none';
        }
        function toggleCompleteForm(eventCode) {
            const formRow = document.getElementById(`complete-form-${eventCode}`);
            formRow.style.display = formRow.style.display === 'none' ? '' : 'none';
        }
        document.querySelectorAll('.card-header').forEach(header => {
        header.addEventListener('click', () => {
            const card = header.parentElement;
            card.classList.toggle('open');
        });
        });

        function toggleSewingQuestions(value) {
            const sewingQuestions = document.querySelector('.sewing-questions');
            // Check if the selected value is either "Sewing" (1) or "Both" (3)
            if (value === "1" || value === "3") {
                sewingQuestions.style.display = 'block'; // Show the sewing questions
            } else {
                sewingQuestions.style.display = 'none'; // Hide the sewing questions
            }
        }

        // format phone number when its entered - Kylee Brown
        const phoneInput = document.getElementById('orgphone');

        phoneInput.addEventListener('input', (e) => {
            let value = e.target.value.replace(/\D/g, ''); // Remove all non-numeric characters
            if (value.length > 10) value = value.slice(0, 10); // Limit to 10 digits

            // Format the value as (123) 456-7890
            if (value.length > 6) {
                value = `(${value.slice(0, 3)}) ${value.slice(3, 6)}-${value.slice(6)}`;
            } else if (value.length > 3) {
                value = `(${value.slice(0, 3)}) ${value.slice(3)}`;
            } else if (value.length > 0) {
                value = `(${value}`;
            }

            e.target.value = value; // Update the input value with the formatted string
        });

    </script>
</body>
</html>
